.button_sec_raw {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 10px;
    background-color: #000000;
    outline: 3px #181717 solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
}

.button_sec_raw .text_sec_raw {
    color: white;
    font-family: "Space Mono", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    transition: 400ms;
}

.button_sec_raw svg {
    fill: #fafafa;
    width: 24px; /* Adjust the size as needed */
    height: 24px; /* Adjust the size as needed */
}

.button_sec_raw svg path {
    transition: 400ms;
}

.button_sec_raw:hover {
    background-color: transparent;
}

.button_sec_raw:hover .text_sec_raw {
    color: #181717;
}

.button_sec_raw:hover svg path {
    fill: #000000;
}